<!-- START COMPANY PARTNER LOGO  -->
		<div class="partner-logo section-padding">
			<div class="container">
				<div class="row part_bg">
					<div class="col-lg-4 col-sm-4 col-xs-12">
						<div class="partner_title">
							<h3><span>Collaborating with </span>universities, hospitals, and professional institutions</h3>
						</div>					
					</div><!-- END COL  -->
					<div class="col-lg-8 col-sm-8 col-xs-12 text-center">
						<div class="partner owl-carousel" >
							<a href="#"><img src="assets/img/clients/1.png" alt="image"></a>
							<a href="#"><img src="assets/img/clients/2.png" alt="image"></a>
							<a href="#"><img src="assets/img/clients/3.png" alt="image"></a>
							<a href="#"><img src="assets/img/clients/4.png" alt="image"></a>
							<a href="#"><img src="assets/img/clients/5.png" alt="image"></a>
                            <a href="#"><img src="assets/img/clients/6.png" alt="image"></a>
							<a href="#"><img src="assets/img/clients/7.png" alt="image"></a>
							<a href="#"><img src="assets/img/clients/8.png" alt="image"></a>
							<a href="#"><img src="assets/img/clients/9.png" alt="image"></a>
							<a href="#"><img src="assets/img/clients/10.png" alt="image"></a>
						</div>
					</div><!-- END COL  -->
				</div><!--END  ROW  -->
			</div><!-- END CONTAINER  -->
		</div>
		<!-- END COMPANY PARTNER LOGO -->