<!-- START COURSE -->
<section class="home_course section-padding">
	<div class="container">

		<!-- SECTION HEADER -->
		<div class="row align-items-center mb-4">

			<div class="col-lg-8 col-sm-12 col-xs-12">
				<div class="section-title">
					<h2>
						Explore Our <b>Bioethics Training</b> <br />
						Programs
					</h2>
				</div>
			</div>
			<!--- END COL -->

			<div class="col-lg-4 col-sm-12 col-xs-12">
				<div class="cour_btn text-lg-end text-start mt-3 mt-lg-0">
					<a href="https://wa.me/6282324673737" class="btn_one">
						More Info <i class="ti-arrow-top-right"></i>
					</a>
				</div>
			</div>
			<!--- END COL -->

		</div>
		<!-- END ROW -->


		<!-- COURSE LIST -->
		<div class="row">

			<!-- COURSE 1 -->
			<div class="col-lg-4 col-sm-6 col-xs-12 mb-4">
				<div class="single_course">

					<div class="single_c_img">
						<img src="assets/img/course/12.png" class="img-fluid" alt="course-image" />
						<span>Hybrid</span>
					</div>

					<!-- <div class="course_rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div> -->

					<h4>
						<a href="helpcourse.html">
							Bioethics HELP (Humanity - Ethics - Law - Professionalism)
						</a>
					</h4>

					<p><span class="ti-book"></span> Professional Training</p>
					<p><span class="ti-alarm-clock"></span> Workshop</p>

					<div class="price">Certificate Available</div>

				</div>
			</div>
			<!-- END COL -->


			<!-- COURSE 2 -->
			<div class="col-lg-4 col-sm-6 col-xs-12 mb-4">
				<div class="single_course">

					<div class="single_c_img">
						<img src="assets/img/course/13.png" class="img-fluid" alt="course-image" />
						<span>Hybrid</span>
					</div>

					<!-- <div class="course_rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div> -->

					<h4>
						<a href="kep.html">
							Penguatan Komite Etik Penelitian
						</a>
					</h4>

					<p><span class="ti-book"></span> Professional Training</p>
					<p><span class="ti-alarm-clock"></span> Workshop</p>

					<div class="price">Certificate Available</div>

				</div>
			</div>
			<!-- END COL -->


			<!-- COURSE 3 -->
			<div class="col-lg-4 col-sm-6 col-xs-12 mb-4">
				<div class="single_course">

					<div class="single_c_img">
						<img src="assets/img/course/14.png" class="img-fluid" alt="course-image" />
						<span>Hybrid</span>
					</div>

					<!-- <div class="course_rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div> -->

					<h4>
						<a href="kurikulum-bioetika.html">
							Pengembangan Kurikulum Bioetika
						</a>
					</h4>

					<p><span class="ti-book"></span> Professional Training</p>
					<p><span class="ti-alarm-clock"></span> Workshop</p>

					<div class="price">Certificate Available</div>

				</div>
			</div>
			<!-- END COL -->


			<!-- COURSE 4 -->
			<div class="col-lg-4 col-sm-6 col-xs-12 mb-4">
				<div class="single_course">

					<div class="single_c_img">
						<img src="assets/img/course/15.png" class="img-fluid" alt="course-image" />
						<span>Hybrid</span>
					</div>

					<!-- <div class="course_rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div> -->

					<h4>
						<a href="clinical-ethics.html">
							Ethics in Decision Making for Healthcare Professionals
						</a>
					</h4>

					<p><span class="ti-book"></span> Professional Training</p>
					<p><span class="ti-alarm-clock"></span> Workshop</p>

					<div class="price">Certificate Available</div>

				</div>
			</div>
			<!-- END COL -->


			<!-- COURSE 5 -->
			<div class="col-lg-4 col-sm-6 col-xs-12 mb-4">
				<div class="single_course">

					<div class="single_c_img">
						<img src="assets/img/course/16.png" class="img-fluid" alt="course-image" />
						<span>Hybrid</span>
					</div>

					<!-- <div class="course_rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div> -->

					<h4>
						<a href="bioetika-klinis.html">
							Bioetika <br> Klinis
						</a>
					</h4>

					<p><span class="ti-book"></span> Professional Training</p>
					<p><span class="ti-alarm-clock"></span> Workshop</p>

					<div class="price">Certificate Available</div>

				</div>
			</div>
			<!-- END COL -->


			<!-- COURSE 6 -->
			<div class="col-lg-4 col-sm-6 col-xs-12 mb-4">
				<div class="single_course">

					<div class="single_c_img">
						<img src="assets/img/course/17.png" class="img-fluid" alt="course-image" />
						<span>Hybrid</span>
					</div>

					<!-- <div class="course_rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div> -->

					<h4>
						<a href="course.html">
							Research Integrity and Publication Ethics
						</a>
					</h4>

					<p><span class="ti-book"></span> Professional Training</p>
					<p><span class="ti-alarm-clock"></span> Workshop</p>

					<div class="price">Certificate Available</div>

				</div>
			</div>
			<!-- END COL -->

		</div>
		<!--- END ROW -->

	</div>
	<!--- END CONTAINER -->
</section>
<!-- END COURSE -->