<!-- START MOOC -->
<section class="home_course section-padding">
    <div class="container">

        <!-- Section Heading -->
        <div class="row">
            <div class="col-lg-8 col-sm-6 col-xs-12">
                <div class="section-title">
                    <h2>Explore Our <b>MOOC</b></h2>
                    <h4>Online learning modules on bioethics, health humanities, and related topics.</h4>
                </div>					
            </div>

            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="cour_btn">
                    <a href="https://mooc.ugm.ac.id/" 
                       target="_blank" 
                       class="btn_one">
                        Explore Courses <i class="ti-arrow-top-right"></i>
                    </a>
                </div>
            </div>
        </div>

        <!-- Course Gallery -->
        <div class="row">

            <!-- Course 65 -->
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <a href="https://mooc.ugm.ac.id/" target="_blank">
                    <div class="single_course">
                        <div class="single_c_img">
                            <img src="assets/img/mooc/65.png" class="img-fluid" alt="MOOC Course 65" />
                        </div>
                    </div>
                </a>
            </div>

            <!-- Course 66 -->
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <a href="https://mooc.ugm.ac.id/" target="_blank">
                    <div class="single_course">
                        <div class="single_c_img">
                            <img src="assets/img/mooc/66.png" class="img-fluid" alt="MOOC Course 66" />
                        </div>
                    </div>
                </a>
            </div>

            <!-- Course 67 -->
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <a href="https://mooc.ugm.ac.id/" target="_blank">
                    <div class="single_course">
                        <div class="single_c_img">
                            <img src="assets/img/mooc/67.png" class="img-fluid" alt="MOOC Course 67" />
                        </div>
                    </div>
                </a>
            </div>

            <!-- Course 68 -->
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <a href="https://mooc.ugm.ac.id/" target="_blank">
                    <div class="single_course">
                        <div class="single_c_img">
                            <img src="assets/img/mooc/68.png" class="img-fluid" alt="MOOC Course 68" />
                        </div>
                    </div>
                </a>
            </div>

            <!-- Course 69 -->
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <a href="https://mooc.ugm.ac.id/" target="_blank">
                    <div class="single_course">
                        <div class="single_c_img">
                            <img src="assets/img/mooc/69.png" class="img-fluid" alt="MOOC Course 69" />
                        </div>
                    </div>
                </a>
            </div>

            <!-- Course 70 -->
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <a href="https://mooc.ugm.ac.id/" target="_blank">
                    <div class="single_course">
                        <div class="single_c_img">
                            <img src="assets/img/mooc/70.png" class="img-fluid" alt="MOOC Course 70" />
                        </div>
                    </div>
                </a>
            </div>

            <!-- Course 71 -->
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <a href="https://mooc.ugm.ac.id/" target="_blank">
                    <div class="single_course">
                        <div class="single_c_img">
                            <img src="assets/img/mooc/71.png" class="img-fluid" alt="MOOC Course 71" />
                        </div>
                    </div>
                </a>
            </div>

            <!-- Course 72 -->
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <a href="https://mooc.ugm.ac.id/" target="_blank">
                    <div class="single_course">
                        <div class="single_c_img">
                            <img src="assets/img/mooc/72.png" class="img-fluid" alt="MOOC Course 72" />
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>
<!-- END MOOC -->