<!-- START RABOAN -->
<section class="home_course section-padding">
    <div class="container">

        <!-- Section Heading -->
        <div class="row">
            <div class="col-lg-8 col-sm-6 col-xs-12">
                <div class="section-title">
                    <h2>Explore Our <b>RABOAN</b> Sessions</h2>
                    <h4>Weekly discussions on bioethics, health humanities, and contemporary issues.</h4>
                </div>					
            </div>

            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="cour_btn">
                    <a href="ugm.id/VideoRABOAN" 
                       target="_blank" 
                       class="btn_one">
                        Watch Playlist <i class="ti-arrow-top-right"></i>
                    </a>
                </div>
            </div>
        </div>

        <!-- Video Gallery -->
        <div class="row">

            <!-- Episode 1 -->
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <a href="https://www.youtube.com/watch?v=FLVjNGL2ISg&list=PLXrq1T0qgNg7G1j7WGueMu7zt20MA25O4&pp=0gcJCcsEOCosWNin" target="_blank">
                    <div class="single_course">
                        <div class="single_c_img">
                            <img src="assets/img/raboan/1.png" class="img-fluid" alt="Raboan Session 1" />
                        </div>
                        <h4></h4>
                    </div>
                </a>
            </div>

            <!-- Episode 2 -->
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <a href="https://www.youtube.com/watch?v=FLVjNGL2ISg&list=PLXrq1T0qgNg7G1j7WGueMu7zt20MA25O4&pp=0gcJCcsEOCosWNin" target="_blank">
                    <div class="single_course">
                        <div class="single_c_img">
                            <img src="assets/img/raboan/2.jpeg" class="img-fluid" alt="Raboan Session 1" />
                        </div>
                        <h4></h4>
                    </div>
                </a>
            </div>

            <!-- Episode 3 -->
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <a href="https://www.youtube.com/watch?v=FLVjNGL2ISg&list=PLXrq1T0qgNg7G1j7WGueMu7zt20MA25O4&pp=0gcJCcsEOCosWNin" target="_blank">
                    <div class="single_course">
                        <div class="single_c_img">
                            <img src="assets/img/raboan/3.png" class="img-fluid" alt="Raboan Session 1" />
                        </div>
                        <h4></h4>
                    </div>
                </a>
            </div>

            <!-- Eps 4 -->
             <div class="col-lg-4 col-sm-6 col-xs-12">
                <a href="https://www.youtube.com/watch?v=FLVjNGL2ISg&list=PLXrq1T0qgNg7G1j7WGueMu7zt20MA25O4&pp=0gcJCcsEOCosWNin" target="_blank">
                    <div class="single_course">
                        <div class="single_c_img">
                            <img src="assets/img/raboan/4.png" class="img-fluid" alt="Raboan Session 1" />
                        </div>
                        <h4></h4>
                    </div>
                </a>
            </div>
            <!-- Eps 5 -->  
             <div class="col-lg-4 col-sm-6 col-xs-12">
                <a href="https://www.youtube.com/watch?v=FLVjNGL2ISg&list=PLXrq1T0qgNg7G1j7WGueMu7zt20MA25O4&pp=0gcJCcsEOCosWNin" target="_blank">
                    <div class="single_course">
                        <div class="single_c_img">
                            <img src="assets/img/raboan/5.png" class="img-fluid" alt="Raboan Session 1" />
                        </div>
                        <h4></h4>
                    </div>
                </a>
            </div>
            <!-- Eps 6 -->
             <div class="col-lg-4 col-sm-6 col-xs-12">
                <a href="https://www.youtube.com/watch?v=FLVjNGL2ISg&list=PLXrq1T0qgNg7G1j7WGueMu7zt20MA25O4&pp=0gcJCcsEOCosWNin" target="_blank">
                    <div class="single_course">
                        <div class="single_c_img">
                            <img src="assets/img/raboan/6.png" class="img-fluid" alt="Raboan Session 1" />
                        </div>
                        <h4></h4>
                    </div>
                </a>
            </div>
            <!-- Eps 7 -->
             <div class="col-lg-4 col-sm-6 col-xs-12">
                <a href="https://www.youtube.com/watch?v=FLVjNGL2ISg&list=PLXrq1T0qgNg7G1j7WGueMu7zt20MA25O4&pp=0gcJCcsEOCosWNin" target="_blank">
                    <div class="single_course">
                        <div class="single_c_img">
                            <img src="assets/img/raboan/7.png" class="img-fluid" alt="Raboan Session 1" />
                        </div>
                        <h4></h4>
                    </div>
                </a>
            </div>
            <!-- Eps 8 --> 
             <div class="col-lg-4 col-sm-6 col-xs-12">
                <a href="https://www.youtube.com/watch?v=FLVjNGL2ISg&list=PLXrq1T0qgNg7G1j7WGueMu7zt20MA25O4&pp=0gcJCcsEOCosWNin" target="_blank">
                    <div class="single_course">
                        <div class="single_c_img">
                            <img src="assets/img/raboan/8.png" class="img-fluid" alt="Raboan Session 1" />
                        </div>
                        <h4></h4>
                    </div>
                </a>
            </div>
            <!-- Eps 9 --> 
             <div class="col-lg-4 col-sm-6 col-xs-12">
                <a href="https://www.youtube.com/watch?v=FLVjNGL2ISg&list=PLXrq1T0qgNg7G1j7WGueMu7zt20MA25O4&pp=0gcJCcsEOCosWNin" target="_blank">
                    <div class="single_course">
                        <div class="single_c_img">
                            <img src="assets/img/raboan/9.png" class="img-fluid" alt="Raboan Session 1" />
                        </div>
                        <h4></h4>
                    </div>
                </a>
            </div>
            <!-- Eps 10 --> 
             <div class="col-lg-4 col-sm-6 col-xs-12">
                <a href="https://www.youtube.com/watch?v=FLVjNGL2ISg&list=PLXrq1T0qgNg7G1j7WGueMu7zt20MA25O4&pp=0gcJCcsEOCosWNin" target="_blank">
                    <div class="single_course">
                        <div class="single_c_img">
                            <img src="assets/img/raboan/10.png" class="img-fluid" alt="Raboan Session 1" />
                        </div>
                        <h4></h4>
                    </div>
                </a>
            </div>
            <!-- Eps 11 --> 
             <div class="col-lg-4 col-sm-6 col-xs-12">
                <a href="https://www.youtube.com/watch?v=FLVjNGL2ISg&list=PLXrq1T0qgNg7G1j7WGueMu7zt20MA25O4&pp=0gcJCcsEOCosWNin" target="_blank">
                    <div class="single_course">
                        <div class="single_c_img">
                            <img src="assets/img/raboan/11.png" class="img-fluid" alt="Raboan Session 1" />
                        </div>
                        <h4></h4>
                    </div>
                </a>
            </div>
            <!-- Eps 12 --> 
             <div class="col-lg-4 col-sm-6 col-xs-12">
                <a href="https://www.youtube.com/watch?v=FLVjNGL2ISg&list=PLXrq1T0qgNg7G1j7WGueMu7zt20MA25O4&pp=0gcJCcsEOCosWNin" target="_blank">
                    <div class="single_course">
                        <div class="single_c_img">
                            <img src="assets/img/raboan/12.png" class="img-fluid" alt="Raboan Session 1" />
                        </div>
                        <h4></h4>
                    </div>
                </a>
            </div>

            

            <!-- Tambahkan sesuai kebutuhan -->

        </div>
    </div>
</section>
<!-- END RABOAN -->