<!-- START BLOG -->
		<section id="blog" class="blog_area section-padding">
			<div class="container">
				<div class="section-title text-center">
					<h2>Latest Blog & news</h2>
					<p>Stay updated with the latest insights, research, events, and discussions in bioethics, healthcare ethics, medical humanities, and responsible innovation.</p>
				</div>	
				<div class="row">		
					<div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
						<div class="single_blog">
							<img src="assets/img/blog/1.jpg" class="img-fluid" alt="image" />
							<div class="content_box">
								<span>April 13, 2026 | <a href="blog.html">Education</a></span>
								<h2><a href="blog.html">Menguatkan Integritas Penelitian: CBMH UGM Gelar In-House Training Peningkatan Kompetensi Ethical Review di UNIKA Soegijapranata</a></h2>
								<a class="btn_one" href="blog.html">Read More <i class="ti-arrow-top-right"></i></a>
							</div>
						</div>
					</div><!-- END COL-->				
					<div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
						<div class="single_blog">
							<img src="assets/img/blog/2.jpg" class="img-fluid" alt="image" />
							<div class="content_box">
								<span>May 16, 2024 | <a href="blog.html">Education</a></span>
								<h2><a href="blog.html">CBMH FK-KMK UGM Perkuat Kapasitas Komite Etik Penelitian di UPN “Veteran” Jawa Timur</a></h2>
								<a class="btn_one" href="blog.html">Read More <i class="ti-arrow-top-right"></i></a>							
							</div>
						</div>
					</div><!-- END COL-->
					<div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
						<div class="single_blog">
							<img src="assets/img/blog/3.jpg" class="img-fluid" alt="image" />
							<div class="content_box">
								<span>May 18, 2024 | <a href="blog.html">Programing</a></span>
								<h2><a href="blog.html">Perkuat Kapasitas Etika Tenaga Kesehatan Melalui Workshop Pengambilan Keputusan Etis </a></h2>
								<a class="btn_one" href="blog.html">Read More <i class="ti-arrow-top-right"></i></a>
							</div>
						</div>
					</div><!-- END COL-->						
				</div><!-- / END ROW -->
			</div><!-- END CONTAINER  -->
		</section>	
		<!-- END BLOG -->	