		<!-- START NAVBAR -->  
		<div id="navigation" class="navbar-light bg-faded site-navigation navigation2">
			<div class="container-fluid">
				<div class="row">
					<div class="col-20 align-self-center">
						<div class="site-logo">
							<a href="index2.html"><img src="assets/img/logo.png" alt=""></a>          				
						</div>
					</div><!--- END Col -->
					
					<div class="col-60 d-flex">
						<nav id="main-menu">
							<ul>

								<!-- About -->
								<li>
									<a href="about.html">About</a>
								</li>

								<!-- Course -->
								<li class="menu-item-has-children">
									<a href="#">Course</a>

									<ul>
										<li>
											<a href="course.html">> All Course</a>
										</li>

										<li>
											<a href="mooc.html">> MOOC</a>
										</li>

										<!-- Regional Training -->
										 <li>
											<a href="regionaltraining.html">> Regional Training</a>
										</li>
										<!-- <li class="menu-item-has-children">
											<a href="#">In-House / Regional Training</a>

											<ul>
												<li>
													<a href="yogyakarta.html">Yogyakarta</a>
												</li>

												<li>
													<a href="semarang.html">Semarang</a>
												</li>

												<li>
													<a href="surabaya.html">Surabaya</a>
												</li>

												<li>
													<a href="jakarta.html">Jakarta</a>
												</li>
											</ul>
										</li> -->

									</ul>
								</li>

								<!-- Instructor -->
								<li>
									<a href="instructor.html">Instructor</a>
								</li>

								<!-- Affiliation -->
								<li class="menu-item-has-children">
									<a href="#">Affiliation</a>

									<ul>
										<li>
											<a href="https://bioethics.fk.ugm.ac.id/" target="_blank">
												> CBMH FKKMK UGM
											</a>
										</li>

										<li>
											<a href="https://bioethicsunescochair.fk.ugm.ac.id/" target="_blank">
												> UNESCO Chair on Bioethics UGM
											</a>
										</li>
									</ul>
								</li>

								<!-- Raboan -->
								<li>
									<a href="raboan.html">RABOAN</a>
								</li>

							</ul>
						</nav>
					</div>
					<!-- END Col -->
					
					<div class="col-20 d-none d-xl-block text-end align-self-center">
						<a href="faq.html" class="header-btn">FAQ</a>
						<a href="contact.html" class="btn_one">Contact us</a>
					</div><!--- END Col -->
					
					<ul class="mobile_menu">						
						<ul>
							<!-- <li class="menu-item-has-children"><a href="index2.html">Home</a> -->
									<!-- <ul>										
										<li><a href="index.html">Home 01</a></li>
										<li><a href="index2.html">Home 02</a></li>
									</ul> -->
								<!-- </li> -->
								<li><a href="index2.html">Home</a></li>
								<li><a href="about.html">About</a></li>				  				  
								<li class="menu-item-has-children"><a href="course.html">Course</a>
									<ul>										
										<li><a href="course.html">Course</a></li>
										<!-- <li><a href="course_details.html">Course Details</a></li> -->
									</ul>
								</li>								
								<li><a href="instructor.html">Instructor</a></li>			
								<!-- <li class="menu-item-has-children"><a href="blog.html">Blog</a>
									<ul>										
										<li><a href="blog.html">Blog</a></li>
										<li><a href="blog_single.html">Blog Details</a></li>
									</ul>
								</li> -->
								<li><a href="faq.html">FAQ</a></li>								  
						</ul>
					</ul>			
				</div><!--- END ROW -->
			</div><!--- END CONTAINER -->
		</div> 	  
		<!-- END NAVBAR -->		