<!-- START INSTRUCTOR -->
		<section class="team_area section-padding">
			<div class="container">									
				<div class="section-title text-center">
					<h2>Meet our Instructors</h2>
					<p>Learn from experienced scholars, clinicians, and bioethics experts dedicated to advancing ethical practice in healthcare, research, and education.</p>
				</div>						
				<div class="row">													
					<div class="col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
						<div class="our-team">
							<div class="team-content">
								<a href="#"><img src="assets/img/team/team1.jpg" alt=""></a>
								<ul class="social-links">
									<li>
										<a href="#">
											<i class="fa-solid fa-graduation-cap"></i>
										</a>
									</li>

									<li>
										<a href="#">
											<i class="fa-solid fa-book-open"></i>
										</a>
									</li>

									<li>
										<a href="#">
											<i class="fa-solid fa-file-lines"></i>
										</a>
									</li>
								</ul>
							</div>
							<div class="team-prof">
								<h3>Dr. Retna Siwi <br> Padmawati, MA</h3>
								<span>CBMH FK-KMK UGM</span>
							</div>
							<!-- <div class="sth_det2">
								<span class="ti-file"> <u>04 Course</u></span>
								<span class="ti-user"> <u>27 Student</u></span>
							</div>									 -->
						</div>
					</div><!--- END COL -->										
					<div class="col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
						<div class="our-team">
							<div class="team-content">
								<a href="#"><img src="assets/img/team/team2.jpg" alt=""></a>
								<ul class="social-links">
									<li>
										<a href="#">
											<i class="fa-solid fa-graduation-cap"></i>
										</a>
									</li>

									<li>
										<a href="#">
											<i class="fa-solid fa-book-open"></i>
										</a>
									</li>

									<li>
										<a href="#">
											<i class="fa-solid fa-file-lines"></i>
										</a>
									</li>
								</ul>
							</div>
							<div class="team-prof">
								<h3>CB Kusmaryanto, <br> SCJ</h3>
								<span>CBMH FK-KMK UGM</span>
							</div>
							<!-- <div class="sth_det2">
								<span class="ti-file"> <u>06 Course</u></span>
								<span class="ti-user"> <u>41 Student</u></span>
							</div>							 -->
						</div>
					</div><!--- END COL -->										
					<div class="col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
						<div class="our-team">
							<div class="team-content">
								<a href="#"><img src="assets/img/team/team3.jpg" alt=""></a>
								<ul class="social-links">
									<li>
										<a href="#">
											<i class="fa-solid fa-graduation-cap"></i>
										</a>
									</li>

									<li>
										<a href="#">
											<i class="fa-solid fa-book-open"></i>
										</a>
									</li>

									<li>
										<a href="#">
											<i class="fa-solid fa-file-lines"></i>
										</a>
									</li>
								</ul>
							</div>
							<div class="team-prof">
								<h3>dr. Nur Azid Mahardinata, M.Bio.Et</h3>
								<span>CBMH FK-KMK UGM</span>
							</div>
							<!-- <div class="sth_det2">
								<span class="ti-file"> <u>13 Course</u></span>
								<span class="ti-user"> <u>31 Student</u></span>
							</div> -->
						</div>
					</div><!--- END COL -->										
					<div class="col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
						<div class="our-team">
							<div class="team-content">
								<a href="#"><img src="assets/img/team/team4.jpg" alt=""></a>
								<ul class="social-links">
									<li>
										<a href="#">
											<i class="fa-solid fa-graduation-cap"></i>
										</a>
									</li>

									<li>
										<a href="#">
											<i class="fa-solid fa-book-open"></i>
										</a>
									</li>

									<li>
										<a href="#">
											<i class="fa-solid fa-file-lines"></i>
										</a>
									</li>
								</ul>
							</div>
							<div class="team-prof">
								<h3>Prof. Dra. Yayi Suryo Prabandari, M.Si., Ph.D</h3>
								<span>CBMH FK-KMK UGM</span>
							</div>
							<!-- <div class="sth_det2">
								<span class="ti-file"> <u>07 Course</u></span>
								<span class="ti-user"> <u>24 Student</u></span>
							</div> -->
						</div>
					</div><!--- END COL -->							  
				</div><!--- END ROW -->
				<!-- View More Button -->
				<div class="row">
					<div class="col-lg-12 text-center mt-4">
						<br>
						<a href="instructor.html" class="btn_one">
							View More Instructors 
							<i class="ti-arrow-top-right"></i>
						</a>
					</div>
				</div>
			</div><!--- END CONTAINER -->
		</section>
<!-- END TEAM -->